@model IEnumerable<Craft_Beer_Me.Models.Brewery>

<header>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 2px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        .Mainbody {
            padding-left: 12em;
            font-family:;
            font-size: 18px;
            color: black;
            /*text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
        }
        .button1 {
            border-radius: 8px;
            border: hidden;
        }

        
    </style>
</header>

<h2>Here's your Beer Flight!</h2>
<h4>@Session["Cider"]</h4>
@{var brewery = (Craft_Beer_Me.Models.Brewery)Session["breweries"];}
<body class="Mainbody">

    <table>

        <tr>
            <th>
                <img src="@brewery.PictureUrl" alt="No Picture" width="150" />
            </th>
            <th>
                <a href="@brewery.Url">@brewery.Name</a>
            </th>
            <th>
                ABV
            </th>
            <th>
                Style Name
            </th>

        </tr>
        @foreach (var beer in brewery.Menu)
        {

            <tr>
                <td>
                    @if (@beer.Picture != null)
                    {
                        <img src="@beer.Picture" alt="No Picture" width="50" />
                    }
                    else
                    {
                        <img src="@brewery.PictureUrl" alt="No Picture" width="100" />
                    }
                </td>
                <td>
                    @beer.BeerName
                </td>
                <td>
                    @beer.ABV%
                </td>
                <td class="BeerColor">

                    <p title="@beer.Description">@beer.CategoryName</p>
                </td>
            </tr>

        }
    </table>
    @{ if (brewery.Menu.Count() == 0)
        {
            <iframe src="https://giphy.com/embed/39gIrKpwKes3C" width="480" height="207" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/disappointed-sad-good-39gIrKpwKes3C">via GIPHY</a></p>
            
        }}
</body>
