@*@model IEnumerable<Craft_Beer_Me.Models.Beer>*@
@model IEnumerable <Craft_Beer_Me.Models.Brewery>
<header>
    <title>We Recommend: </title>
    <style>

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 2px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

    </style>
</header>

<body>
 
    @foreach (var brewery in (List<Craft_Beer_Me.Models.Brewery>)Session["breweries"])
    {


        <tr>
            <th>
                <img src="@brewery.PictureUrl" alt="No Picture" width="150" />
            </th>
            <th>
                @brewery.Name
            </th>
            <th>
                <a href="@brewery.Url">Website</a>
            </th>
            <th>
                Menu Description
            </th>
            @{ int counter = 0;}
        </tr>
        @foreach (var beer in brewery.Menu)
        {
            if (counter == 6)
            {
                break;
            }
                <tr>
                    <td>
                        @if (@beer.Picture != null)
                        {
                            <img src="@beer.Picture" alt="No Picture" width="200" />
                        }
                        else
                        {
                            <img src="~/Content/Gen_Beer.png" alt="No Picture" width="100" />
                        }
                    </td>
                    <td>
                        @beer.BeerName
                    </td>
                    <td>
                        @beer.CategoryName
                    </td>
                    <td>
                        @beer.Description
                    </td>
                </tr>
            counter++;
        }

    </table>
        <br /><br />
       
    }
</body>

<footer>

</footer>