@*@model IEnumerable<Craft_Beer_Me.Models.Beer>*@
@model IEnumerable <Craft_Beer_Me.Models.Brewery>

<title>We Recommend: </title>
<header>
    <style>
                table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 2px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        .BeerColor{
            color: goldenrod
        }

        .tourbar {
            overflow: hidden;
            background-color: white;
            position: fixed;
            bottom: 0;
            width: 100%;
            border: medium;
            border-style:solid;
        }

            .tourbar a {
                float: left;
                display: block;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration-color: black;
                font-size: 17px;
            }

                .tourbar a:hover {
                    background: #dddddd;
                    color: white;
                }
    </style>
    
</header>
<br />
<br />
<body>
    @foreach (var brewery in (List<Craft_Beer_Me.Models.Brewery>)Session["breweries"])
    {
        <table>

            <tr>
                <th>
                    <img src="@brewery.PictureUrl" alt="No Picture" width="150" />
                </th>
                <th>
                    <a href="@brewery.Url">@brewery.Name</a>
                </th>
                <th>
                    ABV
                </th>
                <th>
                    Style Name
                </th>
                @{ int counter = 0;}
            </tr>
            @foreach (var beer in brewery.Menu)
            {
                if (counter == 3)
                {
                    break;
                }
                <tr>
                    <td>
                        @if (@beer.Picture != null)
                        {
                            <img src="@beer.Picture" alt="No Picture" width="50" />
                        }
                        else
                        {
                            <img src="@brewery.PictureUrl" alt="No Picture" width="100" />
                        }
                    </td>
                    <td>
                        @beer.BeerName
                    </td>
                    <td>
                        @beer.ABV%
                    </td>
                    <td class="BeerColor">
                        
                        <p title="@beer.Description">@beer.CategoryName</p>
                    </td>
                </tr>
                counter++;
            }

        </table>
        <br /><br />

    }
 </body>

<footer class="tourbar">
    <p>Which awesome Brewery do you want to visit?</p>
    <form action="googleTour" target="_blank" >
        <input type="checkbox" name="Atwater" />Atwater Brewery
        <input type="checkbox" name="Vivant" />Brewery Vivant
        <input type="checkbox" name="Elk" />Elk Brewery
        <input type="checkbox" name="Founders" />Founders Brewing
        <input type="checkbox" name="Harmony" />Harmony Brewery
        <input type="checkbox" name="Hideout" />Hideout Brewery
        <input type="checkbox" name="Hopcat" />Hopcat Brewery
        <input type="checkbox" name="Jolly" />Jolly Pumpkin Brewery<br />
        <input type="checkbox" name="Holland" />New Holland Brewery
        <input type="checkbox" name="Peoples" />Peoples Cider
        <input type="checkbox" name="Perrin" /> Perrin Brewery
        <input type="checkbox" name="Rockford" />Rockford Brewery
        <input type="checkbox" name="Schmohz" />Schmohz Brewery
        <input type="checkbox" name="Mitten" />The Mitten Brewery
        <button type="submit">I'm ready for my Tour!</button>
    </form>
</footer>