@*@model IEnumerable<Craft_Beer_Me.Models.Beer>*@
@model IEnumerable <Craft_Beer_Me.Models.Brewery>

<title>We Recommend: </title>
<header>
    <style>

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 2px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        .tourbar {
            overflow: hidden;
            background-color: white;
            position: fixed;
            bottom: 0;
            width: 100%;
            border: medium;
            border-style:solid;
        }

            .tourbar a {
                float: left;
                display: block;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration-color: black;
                font-size: 17px;
            }

                .tourbar a:hover {
                    background: #dddddd;
                    color: white;
                }
    </style>
    
</header>

<body>
    @foreach (var brewery in (List<Craft_Beer_Me.Models.Brewery>)Session["breweries"])
    {
        <table>

            <tr>
                <th>
                    <img src="@brewery.PictureUrl" alt="No Picture" width="150" />
                </th>
                <th>
                    @brewery.Name
                </th>
                <th>
                    <a href="@brewery.Url">Website</a>
                </th>
                <th>
                    Menu Description
                </th>
                @{ int counter = 0;}
            </tr>
            @foreach (var beer in brewery.Menu)
            {
                if (counter == 6)
                {
                    break;
                }
                <tr>
                    <td>
                        @if (@beer.Picture != null)
                        {
                            <img src="@beer.Picture" alt="No Picture" width="100" />
                        }
                        else
                        {
                            <img src="~/Content/Gen_Beer.png" alt="No Picture" width="100" />
                        }
                    </td>
                    <td>
                        @beer.BeerName
                    </td>
                    <td>
                        @beer.CategoryName
                    </td>
                    <td>
                        @beer.Description
                    </td>
                </tr>
                counter++;
            }

        </table>

        
        <br /><br />

    }
    
    
</body>

<footer class="tourbar">
    <p>Which awesome Brewery do you want to visit?</p>
    <form action="results" target="_blank" >
        <input type="checkbox" name="Atwater" />Atwater Brewery
        <input type="checkbox" name="Vivant" />Brewery Vivant
        <input type="checkbox" name="Elk" />Elk Brewery
        <input type="checkbox" name="Founders" />Founders Brewing
        <input type="checkbox" name="Harmony" />Harmony Brewery
        <input type="checkbox" name="Hideout" />Hideout Brewery
        <input type="checkbox" name="Hopcat" />Hopcat Brewery
        <input type="checkbox" name="Jolly" />Jolly Pumpkin Brewery<br />
        <input type="checkbox" name="Holland" />New Holland Brewery
        <input type="checkbox" name="Peoples" />Peoples Cider
        <input type="checkbox" name="Perrin" /> Perrin Brewery
        <input type="checkbox" name="Rockford" />Rockford Brewery
        <input type="checkbox" name="Schmohz" />Schmohz Brewery
        <input type="checkbox" name="Mitten" />The Mitten Brewery
        <button type="submit">I'm ready for my Tour!</button>
    </form>
</footer>